extends layout

block content
  .bmenu
  .leftCurtain
    img(src="/images/kurtain.jpg")
  .sortMenu
  .rightCurtain
    img(src="/images/rkurtain.jpg")
  #plot
  script(type="text/template" id="myModalTemplate")
    include  ../public/javascripts/templates/myModalTemplate.js
  script(type="text/template" id="minPlayTemplate")
    include  ../public/javascripts/templates/minPlayTemplate.js
  script(type="text/template" id="maxPlayTemplate")
    include  ../public/javascripts/templates/maxPlayTemplate.js
  script(type="text/template" id="formTemplate")
    include  ../public/javascripts/templates/formTemplate.js
  script(src="/javascripts/libs/bower_components/underscore/underscore.js")
  script(src="/javascripts/libs/bower_components/jquery/dist/jquery.js")
  script(src="/javascripts/libs/bower_components/backbone/backbone.js")
  script(src="/javascripts/libs/bower_components/bootstrap/dist/js/bootstrap.js")
  script(src="/javascripts/libs/bower_components/jquery-bootstrap-modal-steps/src/jquery-bootstrap-modal-steps.js")
  script(src="/javascripts/libs/bower_components/backbone.validation/src/backbone-validation.js")
  script(src="/javascripts/custom/prompts.js")
  script(src="/javascripts/custom/model.js")
  script(src="/javascripts/custom/view.js")
  script(src="/javascripts/custom/controller.js")
  script(src="/javascripts/custom/sort.js")



