extends layout

block content
  .bmenu
    .menu
    .menu
    .menu
    .menu
  .leftCurtain
    img(src="/images/kurtain.jpg")
  .sortMenu
    label(for="gogol") Search
    input(id="gogol" type="search")
    label(for="1st") Search
    input(id="1st" type="checkbox")
    label(for="2nd") Search
    input(id="2nd" type="checkbox")
    label(for="3rd") Search
    input(id="3rd" type="checkbox")
  .rightCurtain
    img(src="/images/rkurtain.jpg")
  #plot
    .play
      img(src="/images/1412317350.jpg")
      h1= title
      p 22/10/15 15:00
      p Театр: им. Т.Г.Шевченко
      p Труппа: Аркадия
      .price
        p Цена: от 50грн
      button Купить
    .play
      img(src="/images/1412317350.jpg" style="padding: 0 10px 0 0;")
      h1= title
      p Театр: им. Т.Г.Шевченко
      p Труппа: Аркадия
      .price
        p Цена: от 50грн
      .bottom
        p(class="date") 22.10.15 19:00
        img(src="/images/ticket.png")
    .variant
      img(src="/images/1412317350.jpg")
      h1= title
      .right
        p(class="date") 22.10
        p(class="date") 19:00
        img(src="/images/ticket.png")
      p Театр: им. Т.Г.Шевченко
      p Труппа: Аркадия
      .price
        p Цена: от 50грн

  script(src="/javascripts/libs/bower_components/underscore/underscore.js")
  script(src="/javascripts/libs/bower_components/jquery/dist/jquery.js")
  script(src="/javascripts/libs/bower_components/backbone/backbone.js")
  script(src="/javascripts/custom/main.js")



