extends layout

block content
  .bmenu
    .menu
    .menu
    .menu
    .menu
  .leftCurtain
    img(src="/images/kurtain.jpg")
  .sortMenu
    label(for="gogol") Search
    input(id="gogol" type="search")
    label(for="1st") Search
    input(id="1st" type="checkbox")
    label(for="2nd") Search
    input(id="2nd" type="checkbox")
    label(for="3rd") Search
    input(id="3rd" type="checkbox")
  .rightCurtain
    img(src="/images/rkurtain.jpg")
  #plot
  script(src="/javascripts/libs/bower_components/underscore/underscore.js")
  script(src="/javascripts/libs/bower_components/jquery/dist/jquery.js")
  script(src="/javascripts/libs/bower_components/backbone/backbone.js")
  script(src="/javascripts/custom/main.js")



