doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/libs/bower_components/underscore/underscore.js")
    script(src="/javascripts/libs/bower_components/jquery/dist/jquery.js")
    script(src="/javascripts/libs/bower_components/backbone/backbone.js")
    script(src="/javascripts/custom/main.js")
  body
    block content
